.Footer {
    bottom: 0;
    gap: 0.5rem;
    width: 100vw;
    display: flex;
    padding: 1.3rem;
    position: absolute;
    text-align: center;
    color: var(--cinza);
    justify-content: center;
    background: var(--preto);
}

.Footer a {
    color: var(--cinza);
    text-decoration: none;
}

.Footer a:hover {
    color: var(--green);
}