.ListaTarefasItem {
    gap: 0.5rem;
    display: flex;
    font-size: 1.1rem;
    align-items: center;
    /* justify-content: space-between;  */
}

div .botoes{
    gap: .5rem;
    display: flex;
}

p{
    width: 18rem;
    max-width: 100%;
    line-height: 2rem;
    text-align: justify;
    text-transform: uppercase;
}