:root {
    --cinza: #EBEBEC;
    --preto: #191414;
    --greenOlive: #4b5c09;
    --green: #1ED760;
    --darkgreen: #14cb54;
    --white: #ffffff;
    --red: #D71212;
    --darkRed: #c91010;
    --blue: #0078C7;
    --darkBlue: #0E577F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--cinza);
    height: 100vh;
}

body,
input,
textarea,
button {
    font-size: 1rem;
    font-family: sans-serif;
}
